{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block page_css %} {% endblock %}
    
    <title>{% block title %}Senior Project | Home{% endblock %}</title>
</head>
<body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light my-bg">
            <div class="container-fluid">
                <a href="/" class="navbar-brand txt">SC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="speech" class="nav-link txt">Modules</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link txt">Account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-shrink-0">
        <div id="content" name="content" class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="{% static 'project/images/CSUB_logo.png' %}" style="width:60px;height:auto;" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">NLP Chatbot</h4>
                        <p class="chatbox__description--header">Hi. I am a Bot. How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" name="var" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{% static 'project/images/CSUB_logo.png' %}" style="width:50px;height:auto;"/></button>
            </div>
        </div>
    </div>
    
     <script src = "./app.js"></script>
     <script type="text/javascript" src="{% static 'project/js/app.js' %}"></script>
     
    <footer class="footer mt-auto py-3 navbar navbar-expand-lg navbar-light my-bg">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">
                        <a href="#" class="nav-link txt">Disclaimer</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link txt">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link txt">Terms</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link txt">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% block page_script %}{% endblock %}
</html>
