{% extends "project/base.html" %}
{% load static %}

{% block page_css %}{% endblock %}

{% block title %} Senior Project | Speech Recognition{% endblock %}

{% block content %}
<div class="mt-4" id="div_language">
  <h2 class="mb-3 text-dark">Select Language</h2>
  <select class="form-select bg-secondary text-dark" id="select_language" onchange="updateCountry()"></select>
  <select class="form-select bg-secondary text-dark mt-2" id="select_dialect"></select>
</div>
<h2 class="mt-4 text-dark">Transcript</h2>
<div class="p-3" style="border: 1px solid gray; height: 300px; border-radius: 8px;">
  <span id="final" class="text-dark"></span>
  <span id="interim" class="text-secondary"></span>
</div>
<div class="mt-4">
  <button class="btn btn-success" id="start">Start</button>
  <button class="btn btn-danger" id="stop">Stop</button>
  <button class="btn btn-primary" id="save">Save</button>
  <p id="status" class="lead mt-3 text-dark" style="display: none">Listenting ...</p>
</div>
<br>
<br>
<h1>NLP here</h1>

<form action="{% url 'sr_project:chat' %}" method="POST">
    {% csrf_token %}
    <span hidden id="final" name="transcript"></span>
    <button type="submit" name="run_script">Run script</button>
</form>

{% endblock %}

{% block page_script %}
<script type="text/javascript" src="{% static 'project/js/language.js' %}"></script>
<script type="text/javascript" src="{% static 'project/js/speechRecognition.js' %}"></script>
<script type="text/javascript" src="{% static 'project/js/app.js' %}"></script>
{% endblock %}