:root {
    --background: #212529;
    --primary-gradient: linear-gradient(0deg, rgba(57,153,200,1) 0%, rgba(57,153,223,1) 15%);
    --primary: rgb(57,153,200);
    /* --secondary: ;
    --highlight: ; */

}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  background-color: var(--background);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* .sidenav {

} */